.info-menu {
    width: 180px;
    height: 125px;
    position: absolute;
    border-radius: 30%;
    z-index: 99;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-menu-mobile {
    left: -60px;
    top: -100px;
}

.info-menu-desktop {
    left: -60px;
    top: -75px;
}

.info-menu-button {
    margin-top: 5px;
    width: 158px;
}

.hidden {
    visibility: hidden;
}

span.captain:hover {
    cursor: default;
}

span.transfer:hover {
    cursor: pointer;
}

span.info:hover {
    cursor: pointer;
}

.transfer-out {
    background-color: red;
}

.transfer-in {
    background-color: green;
}

.move-substitute-mobile {
   font-size: 1rem;
}

.sub-left-mobile {
    position: absolute;
    bottom: 32px;
    left: 3px;
    width: 10px;
    font-size: 0.9rem;
}

.sub-left-desktop {
    position: absolute;
    bottom: 50px;
    left: 10px;
    width: 10px;
    font-size: 1.5rem;
}

.sub-right-mobile {
    position: absolute;
    bottom: 32px;
    right: 12.5px;
    width: 10px;
    font-size: 0.9rem;
}

.sub-right-desktop {
    position: absolute;
    bottom: 50px;
    right: 32px;
    width: 10px;
    font-size: 1.5rem;
}

.move-substitute {
    font-size: 1.5rem;
}