<div id="{{playerDivId}}" class="{{isMobile ? 'player player-mobile' : 'player player-desktop'}}">
    <div *ngIf="showInfoInternal" class="{{isMobile ? 'info-menu info-menu-mobile' : 'info-menu info-menu-desktop'}}">
        <div class="info-menu-inner">
            <button class="btn btn-primary info-menu-button" (click)="changeSquadRole(1)">Make Captain</button>
            <button class="btn btn-primary info-menu-button" (click)="changeSquadRole(2)">Make Vice Captain</button>
        </div>
    </div>
    <div>
        <!-- disabled for captains off-->
        <span
        [class]="isMobile ? 'sub-left-mobile' : 'sub-left-desktop'"
        *ngIf="!transfer && player.substitute && (subPosition === 1 || subPosition === 2)" (click)="moveSub(0)">
            ◀
        </span>
        <span *ngIf="false"
        [class]="player.captain || player.viceCaptain || player.substitute || (showInfoExternal && !showInfoInternal) ? 'info hidden' : 'info'"
        [ngClass]="isMobile ? 'info-mobile' : 'info-desktop'"
        (click)="showInfoClicked()">
            i
        </span>
        <img [src]="kitPath">
        <span class="{{isMobile ? 'captain captain-mobile' : 'captain captain-desktop'}}" *ngIf="player.captain || player.viceCaptain">
            {{ player.captain ? 'C' : 'V' }}
        </span>
        <!-- split this out into two functions, will make everything less confusing-->
        <span 
        [class]="transfer && !selected || showInfoExternal ? 'hidden transfer transfer-out' : 'transfer transfer-out'" 
        [ngClass]="isMobile ? 'transfer-mobile' : 'transfer-desktop'"
        *ngIf="!player.captain && !player.viceCaptain && !player.substitute" 
        (click)="playerSelected()">
            {{ !selected ? '▼' : 'X' }}
        </span>
        <span 
        [class]="transfer && canBeTransferred ? 'transfer transfer-in' : 'hidden transfer transfer-in'" 
        *ngIf="player.substitute"
        [ngClass]="isMobile ? 'transfer-mobile' : 'transfer-desktop'"
        (click)="playerSelected()">
            ▲
        </span>
        <span
        [ngClass]="isMobile ? 'sub-right-mobile' : 'sub-right-desktop'" 
        *ngIf="!transfer && player.substitute && (subPosition === 0 || subPosition === 1)" (click)="moveSub(1)">
            ▶
        </span>
    </div>
    <div class="player-name">
        {{ player.lastName }}
    </div>
    <div class="player-name">
        {{ player.opponent === "" ? '-' : 'vs ' + player.opponent }}
    </div>    
</div>
