<app-loader *ngIf="loading"></app-loader>
<div class="container text-center" *ngIf="showOuter && !loading">
    <div *ngIf="team.error">
        Error loading League.
    </div>
    <div *ngIf="!team.error">
        <div><h2>League</h2></div>
        <div>You are not currently in a League.</div>
        <div class="container">
            <div>
                <button class="btn btn-primary auth-button" (click)="createClicked()">Create</button>
                <button class="btn btn-primary auth-button" (click)="joinClicked()">Join</button>
            </div>
        </div>
    </div>
</div>
<app-league-join [gameweekRedirectId]="gameweekRedirectId.data" [teamId]="team.data.id" (closeJoin)="closeForm()" *ngIf="showJoin"></app-league-join>
<app-league-create [gameweekRedirectId]="gameweekRedirectId.data" [teamId]="team.data.id" (closeCreate)="closeForm()" *ngIf="showCreate"></app-league-create>