.player {
    width: 150px;
    padding: 5px;
    position: relative;
}

.kit:hover{
    cursor: pointer;
}

.remove:hover {
    cursor: pointer;
}

.remove {
    position: absolute;
    bottom: 33px;
    right: 13px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
}

.hidden {
    visibility: hidden;
}