<div class="player">
    <img [src]="kitPath" [ngClass]="player ? '' : 'kit'" (click)="emptyPlayerClicked()">
    <span 
        [class]="player ? 'remove' : 'hidden remove'" (click)="removePlayer()">
            X
        </span>
    <div class="player-name" [title]="player?.lastName">
        {{ player?.lastName }}
    </div>
</div>
