<app-loader *ngIf="loading"></app-loader>
<app-error [text]="errorText" *ngIf="!loading && errorText"></app-error>
<div *ngIf="!loading && !errorText" class="points-menu-container">
    <div class="points-menu-close" (click)=close()>X</div>
    <div class="player-name" [title]="player.lastName">{{player.lastName}}</div>
    <div>
        <table>
            <tr>
              <th>GW</th>
              <th>GAME</th>
              <th>PTS</th>
              <th>MP</th>
              <th>GS</th>
              <th>A</th>
              <th>CS</th>
              <th>GC</th>
              <th>OG</th>
              <th>PS</th>
              <th>PW</th>
              <th>PM</th>
              <th>YC</th>
              <th>RC</th>
              <th>S</th>
            </tr>
            
            <tr *ngFor="let performance of performances">
                <th>{{performance.gameweek}}</th>
                <th>
                    {{performance.playerTeamScore}}-{{performance.oppositionTeamScore}} 
                    {{performance.oppositionName ? 'v' : '' }}
                    {{performance.oppositionName ? performance.oppositionName.substring(0, 3) : ''}}
                </th>
                <th>{{performance.points !== null ? performance.points : '-'}}</th>
                <th>{{performance.minutes !== null ? performance.minutes : '-'}}</th>
                <th>{{performance.goals !== null ? performance.goals: '-'}}</th>
                <th>{{performance.assists !== null ? performance.assists: '-'}}</th>
                <th>{{performance.cleanSheet !== null ? performance.cleanSheet ? '1' : '0' : '-'}}</th>
                <th>{{performance.conceded !== null ? performance.conceded : '-'}}</th>
                <th>{{performance.ownGoals !== null ? performance.ownGoals : '-'}}</th>
                <th>{{performance.penaltySaves !== null ? performance.penaltySaves : '-'}}</th>
                <th>{{performance.penaltiesWon !== null ? performance.penaltiesWon : '-'}}</th>
                <th>{{performance.penaltyMisses !== null ? performance.penaltyMisses : '-'}}</th>
                <th>{{performance.yellowCards !== null ? performance.yellowCards : '-'}}</th>
                <th>{{performance.redCards !== null ? performance.redCards : '-'}}</th>
                <th>{{performance.saves !== null ? performance.saves : '-'}}</th>
            </tr>     
          </table>
    </div>
</div>