.points-menu-container {
    width: 375px;
    height: 500px;
    background-color: skyblue;
    border-radius: 25px;
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

.points-menu-close {
    right: 10px;
    position: absolute;
    font-size: 1.5rem;
}

.points-menu-close:hover {
    cursor: pointer;
}