<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Finternational</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a> 
        </li>
        <li class="nav-item" *ngIf="nextGameweek">
          <a class="nav-link" routerLink="/team/pick">Pick Team</a>
        </li>
        <li class="nav-item" *ngIf="currentGameweek">
          <a class="nav-link" routerLink="/entry/{{user?.id}}/gameweek/{{currentGameweek.id}}">Points</a>
        </li>
        <li class="nav-item" *ngIf="leagueId && (currentGameweek || nextGameweek)">
          <a class="nav-link" routerLink="/league/{{leagueId}}/gameweek/{{gameweekToDisplay}}">League</a>
        </li>
        <li class="nav-item" *ngIf="!leagueId && (currentGameweek || nextGameweek)">
          <a class="nav-link" routerLink="/league">League</a>
        </li>
        <li class="nav-item" *ngIf="currentGameweek || nextGameweek">
          <a class="nav-link" routerLink="/games/gameweek/{{gameweekToDisplay}}">Games
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isMobile" (click)="logOut()">Sign Out</a>
        </li>                
      </ul>  
      <button *ngIf="!isMobile" class="btn btn-danger" (click)="logOut()">Sign Out</button>
    </div>
</nav>