<app-loader *ngIf="loading"></app-loader>
<div class="container text-center" *ngIf="!loading">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="showError">
        {{errorText}}
        <button type="button" class="close" (click)="dismissError()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="inner-container-column">
        <div class="inner-container-row">
            <div><h2>Join a League</h2></div>
        </div>
        <div>
            <div class="form-group">
                <label for="Join Code">Join Code</label>
                <input 
                    class="form-control join-code" 
                    id="joinCode" 
                    [ngClass]="{'is-invalid': errorCode === 404, 'is-valid': errorCode !== undefined && errorCode !== 404}"
                    [(ngModel)]="joinCode" (ngModelChange)="joinCodeChange()" type="text" placeholder="Join Code">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Invalid Join Code.
                </div>
            </div>
            <div>
                <button class="btn btn-danger auth-button" (click)="closeForm()">Cancel</button>
                <button class="btn btn-primary auth-button" (click)="join()" [disabled]="disableJoin">Join</button>
            </div>
        </div>
    </div>
</div>