.inner-container-column {
    flex-direction: column;
}

.inner-container-row {
    flex-direction: row;
    display: flex;
    justify-content: center;
}
  
.container-row {
    padding-top: 15px;
}

.close-button {
    float: right;
}

.alert {
    position: absolute;
    width: 400px;
    z-index: 99;
    top: 10px;
    text-align: center;
}