<app-loader *ngIf="loading"></app-loader>
<div class="container text-center" *ngIf="!loading">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="showError">
        Error creating League.
        <button type="button" class="close" (click)="dismissError()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="inner-container-column">
        <div class="inner-container-row">
            <div><h2>Create a League</h2></div>
        </div>
        <div>
            <div class="form-group"> 
                <label for="leagueName">Name</label>
                <input class="form-control" id="leagueName" [(ngModel)]="leagueName" (ngModelChange)="leagueNameChange()" type="text" placeholder="Name">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Name must be between 1 and 50 characters.
                </div>
            </div>
            <div class="form-group">
                <label for="leagueType">Type</label>
                <select class="form-control" [(ngModel)]="leagueType" aria-label="League Type">
                    <option value="1">Auction</option>
                    <option value="2">Draft</option>
                </select>
            </div>
            <div class="form-group form-check">
            <input type="checkbox" [(ngModel)]="leaguePrivate" class="form-check-input" id="private">
            <label class="form-check-label" for="private">Private</label>
            </div>
            <div>
                <button class="btn btn-danger auth-button" (click)="closeForm()">Cancel</button>
                <button class="btn btn-primary auth-button" (click)="create()" [disabled]="disableCreate">Create</button>
            </div>
        </div>
    </div>
</div>