.auth-button {
  width: 125px;
  margin: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.outer{
  height: 50vh;
}

.inner-container {
  flex-direction: column;
}

.row {
  padding-top: 15px;
}