<div class="outer container">
	<div class="text-center">
		<h1>Finternational</h1>
	</div>
	  <div class="container text-center">
		<p>A fantasy football website for the World Cup and Euros</p>
	  </div>
  	<div class="container">
    	<button type="button" class="btn btn-primary auth-button" (click)="signUp()">Sign Up</button>
    	<button type="button" class="btn btn-primary auth-button" (click)="logIn()">Sign In </button>
  	</div>
</div>
