<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading" style="position: relative;">
    <app-player-picker class="picker" [entry]="entry" *ngIf="showPlayerPicker"></app-player-picker>
    <div class="position">
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="1" 
        (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)" (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="1" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
    </div>
    <div class="position">
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="2" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="2"(emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="2"(emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="2" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="2" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
    </div>
    <div class="position">
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="3" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="3" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="3" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="3" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="3" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
    </div>
    <div class="position">
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="4" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="4" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
        <app-player-new [selectedExternal]="showPlayerPicker" [position]="4" (emptyPlayerClickedEvent)="emptyPlayerClickedEventHandler($event)"
        (removePlayerClickEvent)="removePlayerClickEventHandler($event)"></app-player-new>
    </div>
    <button class="btn btn-primary" *ngIf="entry.players.length === 15" (click)="saveTeam()">Save Team</button>
</div>