<app-loader *ngIf="loading"></app-loader>
<app-error [text]="'There has been an error loading the league'" *ngIf="!loading && league.error"></app-error>
<div *ngIf="!loading && !league.error" class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="redirectFrom">
        {{notificationText}}
        <button type="button" class="close" (click)="dismissNotification()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
	<div class="text-center">   
        <div class="title">
            <button id="navigate-back-button" class="direction-button" (click)="navigateForwardBack(false)" [disabled]="!canNavigateBack"><</button>
		    <h2>League</h2>
            <button id="navigate-forward-button" class="direction-button" (click)="navigateForwardBack(true)" [disabled]="!canNavigateForward">></button>
        </div>
		<h3>{{league.data.name}}</h3>
        <h4>GW{{gameweekId}}</h4>
        <div class="league league-header">
            <span class="teamName">Team Name</span>
            <span class="playerName">Player</span>
            <span class="league-points">PTS</span>
            <span class="gameweek-points">GW</span>
        </div>
        <div *ngFor="let standing of league.data.standings" class="league">
            <span class="teamName truncate">
				<a 
                    *ngIf="currentGameweek" 
                    routerLink="/entry/{{standing.teamId}}/gameweek/{{gameweekId}}"
                    [title]="standing.teamName">{{standing.teamName}}
                </a>
				<span *ngIf="!currentGameweek" [title]="standing.teamName">{{standing.teamName}}</span>
			</span>
            <span class="playerName truncate" [title]="standing.firstName + ' ' + standing.lastName">{{standing.firstName.charAt(0)}}.{{standing.lastName}}</span>
            <span class="league-points">{{standing.points}}</span>
            <span class="gameweek-points">{{standing.gameweekPoints}}</span>
        </div>
    </div>
</div>