.league {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: left;
}

.league-header {
    font-weight: bold;
}

.league-points {
    width: 40px;
}

.gameweek-points {
    width: 20px;
}

.playerName {
    width: 100px;
}

.teamName {
    width: 190px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.direction-button {
    margin-left: 30px;
    margin-right: 30px;
}

.alert {
    position: absolute;
    width: 400px;
    z-index: 99;
    top: 10px;
    text-align: center;
}