.player {
    padding: 5px;
    position: relative;
}

.player-mobile {
    padding: 5px;
    position: relative;
    width: 75px;
    font-size: .6rem;
}

.player-desktop {
    width: 150px;
}

.captain {
    position: absolute;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.captain-mobile {
    bottom: 33px;
    right: 5px;
    width: 15px;
    height: 15px;
}

.captain-desktop {
    bottom: 55px;
    right: 13px;
    width: 25px;
    height: 25px;
}

.points {
    position: absolute;
    font-weight: bold;
    background-color: skyblue;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.points-mobile {
    bottom: 33px;
    left: 5px;
    width: 15px;
    height: 15px;
}

.points-desktop {
    bottom: 55px;
    left: 13px;
    width: 25px;
    height: 25px;
}

.player-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}