<div class="{{isMobile ? 'player player-mobile' : 'player player-desktop'}}">
    <span class="{{isMobile ? 'points points-mobile' : 'points points-desktop'}}" (click)="pointsClicked()">{{player.points}}</span>
    <img [src]="kitPath">
    <span class="{{isMobile ? 'captain captain-mobile' : 'captain captain-desktop'}}" *ngIf="player.captain || player.viceCaptain">
        {{ player.captain ? 'C' : 'V' }}
    </span>
    <div class="player-name">
        {{ player.lastName }}
    </div>
    <div class="player-name">
        {{ player.opponent === "" ? '-' : 'vs ' + player.opponent }}
    </div>
</div>