.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .outer{
    height: 50vh;
  }

  .accordion {
    width: 500px;
    text-align: center;
  }

.switch-field {
	margin-top: -20px;
    margin-bottom: -10px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: skyblue;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.statsContainer {
    padding-top: 10px;
}

.players {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 0.8rem;
}

.away {
    padding-left: 10px;
    width: 130px;
}

.home {
    padding-right: 10px;
    width: 130px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-name-home {
    width: 110px;
    text-align: right;
}

.player-name-away {
    width: 110px;
    text-align: left;
}

.player-container {
    display: flex;
    flex-direction: row;
}

.player-info {
    padding-left: 3px;
}

.title {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.undertitle {
    text-align: center;
}

.page-title {
    text-align: center;
    min-width: 170px;
}