<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading" class="container">
    <div class="title">
        <button class="direction-button" (click)="navigateForwardBack(false)" [disabled]="!canNavigateBack"><</button>
        <span class="page-title"><h2>Games</h2></span>
        <button class="direction-button"(click)="navigateForwardBack(true)" [disabled]="!canNavigateForward">></button>
    </div>
    <div class="undertitle">
        <h3>World Cup 2022</h3>
        <h4>{{titleText}}</h4>
    </div>
    <div *ngIf="games.error" class="text-center container">Failed to load games</div>
    <div *ngIf="!games.error" class="switch-field container">
        <form>
            <input type="radio" id="radio-one" name="switch-one" (change)="gameweekGamesSelectedEvent()" [checked]="!todaysGames"/>
            <label for="radio-one">Gameweek</label>
            <input type="radio" id="radio-two" name="switch-one" (change)="todaysGamesSelectedEvent()" [checked]="todaysGames"/>
            <label for="radio-two">Today</label>
        </form>
	</div>
    <div *ngIf="noUpcomingGames && !games.error" class="container outer">
        There are no upcoming games.
    </div>
    <div *ngIf="!noUpcomingGames && !games.error" class="container">
        <div id="accordion" class="accordion">
            <div class="card" *ngFor="let game of games.data;">
                <div class="card-header" id="{{'heading' + game.id}}" (click)="gameClicked(game.id)">              
                        {{game.homeName ? game.homeName : 'TBC' }}
                        {{!game.homeName || !kickedOff(game.kickOff) ? '' : game.homeGoals}} - {{ !game.awayName || !kickedOff(game.kickOff) ? '' : game.awayGoals}} 
                        {{game.awayName ? game.awayName : 'TBC' }}
                        <br>
                        {{ !kickedOff(game.kickOff) ? (game.kickOff | date: 'HH:mm, d MMM') : ''}}
                  </div>
                  <div id="{{'collapse' + game.id}}" [ngClass]="gameShownId === game.id ? 'show' : 'collapse'" data-parent="#accordion">
                    <div class="card-body">
                        <div class="switch-field container">
                            <form>
                                <input type="radio" id="radio-three" name="switch-two" (change)="statsSelectedEvent()" [checked]="statsChecked" />
                                <label for="radio-three">Stats</label>
                                <input type="radio" id="radio-four" name="switch-two" (change)="playersSelectedEvent()" [checked]="!statsChecked" />
                                <label for="radio-four">Players</label>
                            </form>
                        </div>
                        <div *ngIf="statsChecked" class="statsContainer">
                            <div *ngIf="!kickedOff(game.kickOff)">
                                This game has not started
                            </div>
                            <div *ngIf="kickedOff(game.kickOff) && game.gameInfo?.gameEvents.length === 0">
                                Nothing has happened!
                            </div>
                            <div id="stats" *ngIf="game.gameInfo?.gameEvents.length > 0 && kickedOff(game.kickOff)">
                                <app-event [homeId]="game.homeId" [awayId]="game.awayId" [event]="'Goals'" [events]="game.gameInfo.gameEvents"></app-event>
                                <app-event [homeId]="game.homeId" [awayId]="game.awayId" [event]="'Own Goals'" [events]="game.gameInfo.gameEvents"></app-event>
                                <app-event [homeId]="game.homeId" [awayId]="game.awayId" [event]="'Assists'" [events]="game.gameInfo.gameEvents"></app-event>
                                <app-event [homeId]="game.homeId" [awayId]="game.awayId" [event]="'Saves'" [events]="game.gameInfo.gameEvents"></app-event>
                                <app-event [homeId]="game.homeId" [awayId]="game.awayId" [event]="'Penalty Saves'" [events]="game.gameInfo.gameEvents"></app-event>
                                <app-event [homeId]="game.homeId" [awayId]="game.awayId" [event]="'Penalty Misses'" [events]="game.gameInfo.gameEvents"></app-event>
                                <app-event [homeId]="game.homeId" [awayId]="game.awayId" [event]="'Red Cards'" [events]="game.gameInfo.gameEvents"></app-event>
                                <app-event [homeId]="game.homeId" [awayId]="game.awayId" [event]="'Yellow Cards'" [events]="game.gameInfo.gameEvents"></app-event>
                            </div>
                        </div>
                        <div *ngIf="!statsChecked" class="statsContainer">
                            <div *ngIf="game.gameInfo?.ownedPlayersViewModels.length === 0">
                                Nobody has players in this game
                            </div>
                            <div *ngIf="game.gameInfo?.ownedPlayersViewModels.length > 0"> <!-- this can be its own component, might help with naming of view models too-->
                                <div *ngFor="let player of game.gameInfo?.ownedPlayersViewModels">
                                    <strong><a href="{{getPointsUrl(player.managerId)}}">{{ player.managerName }}</a></strong>
                                    <div class="players">
                                        <div class="home">
                                            <div *ngFor="let home of player.homePlayers" class="player-container" >
                                                <div class="player-name-home truncate">{{home.playerName}}</div>
                                                <div *ngIf="home.captain" class="player-info">(C)</div>
                                                <div *ngIf="home.substitute" class="player-info">(sub)</div>
                                                <div class="player-info">{{home.points}}</div>
                                            </div>
                                        </div>
                                        <div class="away">
                                            <div *ngFor="let away of player.awayPlayers" class="player-container">
                                                <div class="player-name-away truncate">{{away.playerName}}</div>
                                                <div *ngIf="away.captain" class="player-info">(C)</div>
                                                <div *ngIf="away.substitute" class="player-info">(sub)</div>
                                                <div class="player-info">{{away.points}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>