<div *ngIf="displayedEvents.length > 0">
    <strong>{{event}}</strong>
    <div class="stats">
        <div class="home">
            <div class="event-container-home" *ngFor="let event of homeEvents">
                <div class="truncate">{{event.playerLastName}}</div>
                <div class="event-count" *ngIf="getEventCount(event.playerLastName, event.countryId, event.eventType) > 1 || eventIsSaves">
                    ({{getEventCount(event.playerLastName, event.countryId, event.eventType)}})
                </div>
            </div>
        </div>
        <div class="away">
            <div class="event-container-away" *ngFor="let event of awayEvents">
                <div class="truncate">{{event.playerLastName}}</div>
                <div class="event-count" *ngIf="getEventCount(event.playerLastName, event.countryId, event.eventType) > 1 || eventIsSaves">
                    ({{getEventCount(event.playerLastName, event.countryId, event.eventType)}})
                </div>
            </div>
        </div>
    </div>
</div>