.stats {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 0.8rem;
}

.away {
    padding-left: 10px;
    width: 130px;
    text-align: left;
}

.home {
    padding-right: 10px;
    width: 130px;
    text-align: right;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-container-home {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
}

.event-container-away {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.event-count {
    padding-left: 5px;
}