<app-loader *ngIf="loading || loadingGameweeks"></app-loader>
<app-error [text]="errorText" *ngIf="!loading && errorText"></app-error>
<div *ngIf="!loading && !loadingGameweeks && !errorText">
    <div *ngIf="gameweeks.error">Failed to load points</div>
    <div *ngIf="!gameweeks.error" class="container">
        <app-player-points-menu [player]="selectedPlayer" (closeEvent)="closeEventHandler()" *ngIf="showPointsInfoMenu" class="points-menu"></app-player-points-menu>
        <div class="text-center" *ngIf="!teamPicked">How many points did you expect to have when you haven't picked your team?</div>
        <div class="text-center" *ngIf="teamPicked">
            <div class="title">
                <button class="direction-button" (click)="navigateForwardBack(false)" [disabled]="!canNavigateBack"><</button>
                <h2>Points - {{points}}</h2>
                <button class="direction-button" (click)="navigateForwardBack(true)" [disabled]="!canNavigateForward">></button>
            </div>
            <h3>{{entry.teamName}}</h3>
            <h4>GW{{gameweekId}}</h4>
            <div>
                <div>
                    <div class="position">
                        <app-player-points (showPointsInfoEvent)="showPointsInfoEventHandler($event)" [player]="goalkeeper"></app-player-points>
                    </div>
                    <div class="position">
                        <div *ngFor="let player of defenders">
                            <app-player-points (showPointsInfoEvent)="showPointsInfoEventHandler($event)" [player]="player"></app-player-points>
                        </div> 
                    </div>
                    <div class="position">
                        <div *ngFor="let player of midfielders">
                            <app-player-points (showPointsInfoEvent)="showPointsInfoEventHandler($event)" [player]="player"></app-player-points>
                        </div> 
                    </div>
                    <div class="position">
                        <span *ngFor="let player of attackers">
                            <app-player-points (showPointsInfoEvent)="showPointsInfoEventHandler($event)" [player]="player"></app-player-points>
                        </span> 
                    </div>
                </div>
                <hr>
                <div class="substitutes position">
                    <app-player-points (showPointsInfoEvent)="showPointsInfoEventHandler($event)" [player]="subGoalkeeper"></app-player-points>
                    <div *ngFor="let player of substitutes">
                        <app-player-points (showPointsInfoEvent)="showPointsInfoEventHandler($event)" [player]="player"></app-player-points>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>