.position {
    display: flex;
    justify-content: center;
}

.substitutes {
    padding-top: 20px;
}

.title {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.direction-button {
    margin-left: 30px;
    margin-right: 30px;
}

.points-menu {
    position: fixed;
    z-index: 100;
    margin: 0 auto;
}