<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading" class="container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="showError">
        Error saving changes.
        <button type="button" class="close" (click)="dismissError()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorText !== ''">
        {{errorText}}
        <button type="button" class="close" (click)="dismissErrorText()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showSuccess">
        Changes saved.
        <button type="button" class="close" (click)="dismissSuccess()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="entry.error">Failed to load team</div>
    <div *ngIf="!entry.error" class="text-center">
		<h2>Pick Team - GW{{nextGameweek.id}}</h2>
        <h6>Deadline: {{nextGameweek.deadline | date: 'HH:mm, d MMM'}}</h6>
        <div *ngIf="entry?.data.players?.length === 15">
            <div>
                <div class="position">
                    <div *ngFor="let player of goalkeepers">
                        <app-player 
                        [player]="player"
                        [transfer]="transferSelected"
                        [showInfoExternal]="infoShown"
                        (transferredPlayer)="transferSelectedEventHandler($event)"
                        (showInfoChanged)="showInfoChangedEvent($event)"
                        (makeCaptain)="changeCaptainEventHandler($event)"
                        (makeViceCaptain)="changeViceCaptainEventHandler($event)"></app-player>
                    </div> 
                </div>
                <div class="position">
                    <div *ngFor="let player of defenders">
                        <app-player 
                        [player]="player"
                        [transfer]="transferSelected"
                        [showInfoExternal]="infoShown"
                        (transferredPlayer)="transferSelectedEventHandler($event)"
                        (showInfoChanged)="showInfoChangedEvent($event)"
                        (makeCaptain)="changeCaptainEventHandler($event)"
                        (makeViceCaptain)="changeViceCaptainEventHandler($event)"></app-player>
                    </div> 
                </div>
                <div class="position">
                    <div *ngFor="let player of midfielders">
                        <app-player 
                        [player]="player" 
                        [transfer]="transferSelected" 
                        [showInfoExternal]="infoShown"
                        (transferredPlayer)="transferSelectedEventHandler($event)"
                        (showInfoChanged)="showInfoChangedEvent($event)"
                        (makeCaptain)="changeCaptainEventHandler($event)"
                    (makeViceCaptain)="changeViceCaptainEventHandler($event)">
                        </app-player>
                    </div> 
                </div>
                <div class="position">
                    <span *ngFor="let player of attackers">
                        <app-player 
                        [player]="player" 
                        [transfer]="transferSelected"
                        [showInfoExternal]="infoShown"
                        (transferredPlayer)="transferSelectedEventHandler($event)"
                        (showInfoChanged)="showInfoChangedEvent($event)"
                        (makeCaptain)="changeCaptainEventHandler($event)"
                        (makeViceCaptain)="changeViceCaptainEventHandler($event)">
                        </app-player>
                    </span> 
                </div>
            </div>
            <hr>
            <div class="position">
                <div *ngFor="let player of subGoalkeeper">
                    <app-player 
                    [player]="player" 
                    [transfer]="transferSelected"
                    [showInfoExternal]="infoShown"
                    [requiredTransferPosition]="requiredTransferPosition"
                    (transferredPlayer)="transferSelectedEventHandler($event)"></app-player>
                </div> 
                <div *ngFor="let player of substitutes; index as i">
                    <app-player 
                    [player]="player" 
                    [transfer]="transferSelected"
                    [showInfoExternal]="infoShown"
                    [requiredTransferPosition]="requiredTransferPosition"
                    [subPosition]="i"
                    (transferredPlayer)="transferSelectedEventHandler($event)"
                    (moveSubstitute)="moveSubEventHandler($event)"></app-player>
                </div> 
            </div>
            <button class="btn btn-primary" [disabled]="!changes" (click)="saveChanges()">Save Changes</button>
        </div>
        <app-pick-team-new [incompleteEntry]="entry.data" *ngIf="entry?.data.players?.length < 15"></app-pick-team-new>
    </div>
</div>