<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading" class="container">
    <div class="text-center" *ngIf="gameweeks.error">
        Error loading page
    </div>
	<div class="text-center" *ngIf="!gameweeks.error">
		<h2>Welcome, {{user.firstName}}</h2>
		<div *ngIf="!nextGameweek">
			There are no upcoming gameweeks
		</div>
        <div *ngIf="nextGameweek">
            <p>The next deadline is: {{ nextGameweek?.deadline | date: 'HH:mm, d MMM'}}</p>
        </div>
    <div>
</div>
