.players {
    overflow-y: scroll;
    height: 250px;
    width: 250px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.player-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.search {
    width: 250px;
}

.player-name:hover {
    cursor: pointer;
}