<div *ngIf="players?.length > 0" class="search">
      <br>
      <input type="text" class="search" [(ngModel)]="searchText" (ngModelChange)="searchChanged()">
      <div class="players">
            <div *ngFor="let player of searchPlayers" (click)="playerSelected(player)">
                <span class="player-name" [title]="player.lastName">{{player.lastName}} </span>
                <span>{{player.country.name.slice(0,3).toUpperCase()}}</span>
            </div>
      </div>
</div>